<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Boissonnot.Projects.SvnWebDeploy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="NETil.Projects.SvnWebDeploy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Boissonnot.Projects.SvnWebDeploy.Properties.Settings>
            <setting name="SVN_HOOK_PATH" serializeAs="String">
                <value>F:\Temp\svnlook.exe</value>
            </setting>
            <setting name="HUDSON_PROJECT_URL" serializeAs="String">
                <value>http://{jenkins_url}/job/{0}/build?token=build</value>
            </setting>
            <setting name="WGET_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="HUDSON_PROJECT_PUBLISH_URL" serializeAs="String">
                <value>http://{jenkins_url}/job/{0}-Publish/build?token=build</value>
            </setting>
            <setting name="PUBLISH_RECETTE" serializeAs="String">
                <value>PUBLISHRECETTE</value>
            </setting>
            <setting name="PUBLISH_INTEGRATION" serializeAs="String">
                <value>PUBLISHINTEGRATION</value>
            </setting>
            <setting name="DEBUG_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="JENKINS_USER" serializeAs="String">
                <value />
            </setting>
            <setting name="JENKINS_PASSWORD" serializeAs="String">
                <value />
            </setting>
        </Boissonnot.Projects.SvnWebDeploy.Properties.Settings>
        <NETil.Projects.SvnWebDeploy.Properties.Settings>
            <setting name="SVN_HOOK_PATH" serializeAs="String">
                <value>F:\Temp\svnlook.exe</value>
            </setting>
            <setting name="HUDSON_PROJECT_URL" serializeAs="String">
                <value>http://integration.continue.web-netil.com:8080/job/{0}/build?token=build</value>
            </setting>
            <setting name="WGET_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="HUDSON_PROJECT_PUBLISH_URL" serializeAs="String">
                <value>http://integration.continue.web-netil.com:8080/job/{0}-Publish/build?token=build</value>
            </setting>
            <setting name="PUBLISH_RECETTE" serializeAs="String">
                <value>PUBLISHRECETTE</value>
            </setting>
            <setting name="PUBLISH_INTEGRATION" serializeAs="String">
                <value>PUBLISHINTEGRATION</value>
            </setting>
            <setting name="DEBUG_PATH" serializeAs="String">
                <value />
            </setting>
        </NETil.Projects.SvnWebDeploy.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
